.container {
  display: flex;
  gap: 125px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2vw;
  flex-direction: row;
  align-content: space-between;
}

.oneItem{
    display: inline-block;
    position: relative;
}