.container {
  display: flex;
  gap:  3vh 8.6vw;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2vw 2.6vw;
  box-sizing: border-box;
}

.oneItem {
  display: inline-block;
  position: relative;
}

